In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../top_rated_wines.csv')
df.head()

,name,region,variety,rating,notes
0,3 Rings Reserve Shiraz 2004,"Barossa Valley, Barossa, South Australia, Aust...",Red Wine,96.0,Vintage Comments : Classic Barossa vintage con...
1,Abreu Vineyards Cappella 2007,"Napa Valley, California",Red Wine,96.0,Cappella is a proprietary blend of two clones ...
2,Abreu Vineyards Cappella 2010,"Napa Valley, California",Red Wine,98.0,Cappella is one of the oldest vineyard sites i...
3,Abreu Vineyards Howell Mountain 2008,"Howell Mountain, Napa Valley, California",Red Wine,96.0,When David purchased this Howell Mountain prop...
4,Abreu Vineyards Howell Mountain 2009,"Howell Mountain, Napa Valley, California",Red Wine,98.0,"As a set of wines, it is hard to surpass the f..."

In [3]:
df.describe()

            rating
count  1365.000000
mean     96.859341
std       0.995957
min      96.000000
25%      96.000000
50%      97.000000
75%      98.000000
max      99.000000

In [8]:
# Now let's create easy formatting for creating embeddings
# method converts it into a list of dictionaries, with each dictionary representing a row from the DataFrame
l_of_d = df.to_dict('records')
print(len(l_of_d))
l_of_d[0]

1365

{'name': '3 Rings Reserve Shiraz 2004',
 'region': 'Barossa Valley, Barossa, South Australia, Australia',
 'variety': 'Red Wine',
 'rating': 96.0,
 'notes': 'Vintage Comments : Classic Barossa vintage conditions. An average wet Spring followed by extreme heat in early February. Occasional rainfall events kept the vines in good balance up to harvest in late March 2004. Very good quality coupled with good average yields. More than 30 months in wood followed by six months tank maturation of the blend prior to bottling, July 2007. '}